@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

p.ex1 {
  margin-left: 0px;
}

*{

    padding: 0;
    box-sizing: border-box;
    margin-left: 0;
    font-family: 'Sora', sans-serif;
    transition: all 2s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #FFFAF4;
    --nav-color: #000000;
    --side-nav: #010718;
    --text-color: #FFF;
}


body{
  margin-left: 30px;
    height: 100vh;
    background-color: var(--body-color);
}



/*body.dark{
    --body-color: #FFFAF4A;
    --nav-color: #000000;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
   margin-left: 40px;
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin-right: 1px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}